.App {
  text-align: center;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  margin: 20px 0;
}

.icon-button {
  box-shadow: none !important;
}

input:focus {
  box-shadow: none !important;
}

@media screen and (max-width: 600px) {
  .comment-user {
    flex-direction: column;
  }

  .comment-options-list {
    font-size: 12px;
  }
}
